<div id="current-study-sessions" class="flex flex-wrap gap-4 justify-center mt-0">
  {% if study_sessions %}
    {% for study_session in study_sessions %}
      <div class="card card-border bg-base-300 w-lg">
        <div class="card-body" id="{{ study_session.uuid }}">
          <h2 class="card-title">{{ study_session.title }}</h2>
          <p class="text-xl">Study Time: <span id="study-time-{{ study_session.uuid }}">{{ study_session.study_time }}</span></p>
          <p class="text-xl">Break Time: <span id="break-time-{{ study_session.uuid }}">{{ study_session.break_time }}</span></p>

          <script>
            document.addEventListener('htmx:load', function() {
              // have to convert django DurationField to string
              function durationFieldToString(time) {
                const studyTimeSplit = time.split(":");
                const studyTimeSeconds = parseInt(studyTimeSplit[0] * 3600 + parseInt(studyTimeSplit[1]) * 60 + parseInt(studyTimeSplit[2]));
                return studyTimeSeconds;
              }

              // have to format time to display it as a string
              function formatTime(time) {
                const minutes = Math.floor(time / 60);
                const seconds = time % 60
                return `${minutes}:${seconds.toString().padStart(2, '0')}` // padStart for leading zero
              }

              {% load static %}
              const audioFile = new Audio("{% static 'assets/timer.wav' %}");

              function playAudio(times) {
                for (let i = 0; i < times; i++) {
                  setTimeout(() => {
                    audioFile.currentTime = 0;
                    audioFile.play();
                  }, i * 800); // .7 second delay
                }
              }

              const countdownDisplay = document.getElementById("study-time-{{ study_session.uuid }}");
              const breakDisplay = document.getElementById("break-time-{{ study_session.uuid }}");
              const startButton = document.getElementById("start-{{ study_session.uuid }}");
              const pauseButton = document.getElementById("pause-{{ study_session.uuid }}");
              const resetButton = document.getElementById("reset-{{ study_session.uuid }}");
              pauseButton.disabled = true;
              resetButton.disabled = true;
              
              /*
              countdownInterval CAN BE FOR STUDYING OR BREAK
              onBreak FOR BUTTON/TIMER LOGIC
              count FOR STUDY TIME
              breakCount FOR BREAK TIME
              SET countdownDisplay AND breakDisplay TO INITIAL VALUES FROM DATABASE
              */
              let countdownInterval;
              let onBreak = false;
              let count = durationFieldToString("{{ study_session.study_time }}");
              let breakCount = durationFieldToString("{{ study_session.break_time }}");
              countdownDisplay.innerHTML = formatTime(count);
              breakDisplay.innerHTML = formatTime(breakCount); 
              
              // START BUTTON LOGIC
              startButton.addEventListener("click", (e) => {
                e.preventDefault();
                startButton.disabled = true;
                pauseButton.disabled = false;
                resetButton.disabled = false;

                if (onBreak) {
                  countdownInterval = setInterval(() => { // executes every 1000ms
                    breakCount -= 1;
                    breakDisplay.innerHTML = formatTime(breakCount);
                    if (breakCount <= 0) {
                      clearInterval(countdownInterval); // stops the timer
                      playAudio(4);
                      document.getElementById('{{ study_session.uuid }}').style.opacity = 0.3;
                      setTimeout(() => {
                        alert("Break is now complete, time to study 📖");
                        document.getElementById('{{ study_session.uuid }}').style.opacity = 1;
                      }, 3000); 
                      onBreak = false; // break complete, time to study
                      breakCount = durationFieldToString("{{ study_session.break_time }}") // reset break timer
                      breakDisplay.innerHTML = formatTime(breakCount); // reset break timer display
                      startButton.value = "Start Studying"; // change text to 'start studying'
                      startButton.disabled = false;
                      pauseButton.disabled = true;
                      resetButton.disabled = true;
                    }
                  }, 1000) // interval of 1000ms for setInterval
                  startButton.value = "On break..."
                } else {
                  countdownInterval = setInterval(() => { // executes every 1000ms
                    count -= 1;
                    countdownDisplay.innerHTML = formatTime(count);
                    if (count <= 0) {
                      clearInterval(countdownInterval); // stops the timer
                      playAudio(4);
                      document.getElementById('{{ study_session.uuid }}').style.opacity = 0.3;
                      setTimeout(() => {
                        alert("Synedrion is now complete, time for a break 🪬");
                        document.getElementById('{{ study_session.uuid }}').style.opacity = 1;
                      }, 3000); 
                      onBreak = true; // study timer done, time for a break
                      count = durationFieldToString("{{ study_session.study_time }}") // reset study timer
                      countdownDisplay.innerHTML = formatTime(count); // reset study timer display
                      startButton.value = "Start Break"; // display 'start break' on button
                      startButton.disabled = false;
                      pauseButton.disabled = true;
                      resetButton.disabled = true;
                    }
                  }, 1000) // interval of 1000ms for setInterval

                  startButton.value = "Studying..."
                }
              })

              // PAUSE BUTTON LOGIC
              pauseButton.addEventListener("click", (e) => {
                e.preventDefault();
                clearInterval(countdownInterval); // stops the timer
                startButton.disabled = false;
                startButton.value = onBreak ? "Continue Break" : "Continue Studying"
                pauseButton.disabled = true;
              })

              // RESET BUTTON LOGIC
              resetButton.addEventListener("click", (e) => {
                e.preventDefault();
                clearInterval(countdownInterval); // stops the timer
                startButton.disabled = false;
                startButton.value = "Start Studying";
                pauseButton.disabled = true;
                resetButton.disabled = true;

                onBreak = false; // if on break, make it no longer on break
                count = durationFieldToString("{{ study_session.study_time }}"); // get original value of study_time
                breakCount = durationFieldToString("{{ study_session.break_time }}"); // get original value of study_time
                countdownDisplay.innerHTML = formatTime(count);
                breakDisplay.innerHTML = formatTime(breakCount);
              })
            })

          </script>

          <div class="card-actions">
              <input id="start-{{ study_session.uuid }}" class="btn btn-primary" type="button" value="Start Studying" />
              <input id="pause-{{ study_session.uuid }}" class="btn btn-primary" type="button" value="Pause" />
              <input id="reset-{{ study_session.uuid }}" class="btn btn-primary" type="button" value="Reset" />
            <form hx-post="{% url 'delete_study_session' uuid=study_session.uuid %}" hx-on::before-request="document.getElementById('{{ study_session.uuid }}').style.opacity = 0.3;" hx-indicator="#loading" hx-target="#current-study-sessions" hx-headers='{"x-csrftoken": "{{ csrf_token }}"}'>
                {% csrf_token %}
                <input class="btn btn-primary" type="submit" value="Delete" />
            </form>
          </div>
        </div>
      </div>
    {% endfor %}
  {% else %}
    <h2 class="text-2xl font-thin italic">Try to create a new synedrion 📚</h2>
  {% endif %}
</div>
