<div class="navbar bg-base-100 shadow-sm">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
        </svg>
      </div>
      <ul tabindex="0" class="menu menu-sm dropdown-content bg-base-100 rounded-box z-50 mt-3 w-52 p-2 shadow">
        <li>
          <a class="text-2xl font-[EB_Garamond]" href="{% url 'tasks' %}">Kaleo</a>
        </li>
        <li>
          <a class="text-2xl font-[EB_Garamond]" href="{% url 'study_sessions' %}">Synedria</a>
        </li>
        <li>
          <a class="text-2xl font-[EB_Garamond]">More</a>
          <ul class="p-2">
            <li>
              <a class="text-2xl font-[EB_Garamond]" href="{% url 'about' %}">About</a>
            </li>
            <li>
              <a class="text-2xl font-[EB_Garamond]" href="{% url 'profile' %}">Profile</a>
            </li>
            <li>
              <a class="text-2xl font-[EB_Garamond]" href="{% url 'contact' %}">Contact</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <a class="btn btn-ghost text-4xl font-[EB_Garamond]" href="{% url 'index' %}">{{ user.username }}'s <i>Ekklesia</i></a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1 z-50">
      <li>
        <a class="text-2xl font-[EB_Garamond]" href="{% url 'tasks' %}">Kaleo</a>
      </li>
      <li>
        <a class="text-2xl font-[EB_Garamond]" href="{% url 'study_sessions' %}">Synedria</a>
      </li>
      <li>
        <details>
          <summary class="text-2xl font-[EB_Garamond]">More</summary>
          <ul class="p-2">
            <li>
              <a class="text-2xl font-[EB_Garamond]" href="{% url 'about' %}">About</a>
            </li>
            <li>
              <a class="text-2xl font-[EB_Garamond]" href="{% url 'profile' %}">Profile</a>
            </li>
            <li>
              <a class="text-2xl font-[EB_Garamond]" href="{% url 'contact' %}">Contact</a>
            </li>
          </ul>
        </details>
      </li>
    </ul>
  </div>
  <div class="navbar-end">
    <form method="post" action="{% url 'logout' %}">
      {% csrf_token %}
      <button class="btn text-2xl font-[EB_Garamond] italic" type="submit">Log Out</button>
    </form>
  </div>
</div>
