{% extends 'base.html' %}

{% block content %}
  <div class="flex flex-col items-center text-center gap-10 p-10">
    <h1 class="text-4xl font-bold text-center mb-4 font-[EB_Garamond]">About Ekklesia 🪬</h1>
    <h2 class="text-2xl">Ekklesia is a simple web application that allows users to create, delete, and mark complete tasks. Ekklesia also allows users to create study sessions, where they can specify 'work time' and 'break time', and keep track of their cycles.</h2>
    <h2 class="text-2xl">Ekklesia is powered by the following technologies: <a href="https://djangoproject.com/" target="_blank">Django</a>, <a href="https://htmx.org/" target="_blank">HTMX</a>, <a href="https://tailwindcss.com/" target="_blank">Tailwind CSS</a>, and <a href="https://daisyui.com/" target="_blank">Daisy UI</a></h2>
  </div>
{% endblock %}
