{% extends 'base.html' %}

{% block title %}
  <title>Home</title>
{% endblock %}

{% block content %}
  <div class="hero bg-base-200 min-h-screen">
    <div class="hero-content text-center">
      {% load static %}
      <img src="{% static 'assets/images/logo.png' %}" />
      <div class="max-w-md">
        <h1 class="text-5xl font-bold">Ekklesia</h1>
        <p class="py-6">Welcome to Ekklesia, your task and time management app.</p>
        <button class="btn btn-primary"><a href="{% url 'tasks' %}">View Tasks</a></button>
        <button class="btn btn-primary"><a href="{% url 'study_sessions' %}">View Study Sessions</a></button>
      </div>
    </div>
  </div>
{% endblock %}
