{% extends 'base.html' %}

{% block content %}
  <div id="study-sessions" class="flex flex-col items-center mb-10">
    <div id="new-task" class="fieldset bg-base-200 border-base-300 rounded-box w-md border p-4 mt-10">
      <h1 class="text-4xl font-bold text-center mb-4 font-[EB_Garamond]">Create New <i>Synedrion</i></h1>
      <form hx-post="{% url 'create_study_session' %}" hx-on::after-request="if(event.detail.successful) this.reset()" hx-target="#current-study-sessions" hx-headers='{"x-csrftoken": "{{ csrf_token }}"}' class="flex flex-col items-center gap-4">
        {% csrf_token %}
        {{ form.title }}
        {{ form.study_time_minutes }}
        {{ form.break_time_minutes }}
        <input class="btn btn-neutral mt-4 block" type="submit" value="Create" />
      </form>
    </div>
    <h1 class="text-center text-4xl m-8 font-[EB_Garamond]">Your Synedrion</h1>
    {% include 'fragments/current_study_sessions.html' %}
  </div>
{% endblock %}
