{% extends 'base.html' %}

{% block content %}
  <div id="study-sessions" class="flex flex-col items-center mb-10">
    <div id="new-task" class="fieldset bg-base-200 border-base-300 rounded-box w-md border p-4 mt-10">
      <h1 class="text-4xl font-bold text-center mb-4 font-[EB_Garamond]">Create New <i>Synedrion</i></h1>
      <form id="new-task-form" method="POST" class="flex flex-col items-center gap-4">
        {% csrf_token %}
        {{ form.title }}
        {{ form.study_time_minutes }}
        {{ form.break_time_minutes }}
        <input class="btn btn-neutral mt-4 block" type="submit" value="Create" />
      </form>
    </div>
    <h1 class="text-center text-4xl m-10">Your Synedrion</h1>
    <div id="current-study-sessions" class="flex flex-wrap gap-4 justify-center">
      {% if study_sessions %}
        {% for study_session in study_sessions %}
          <div class="card card-border bg-base-100 w-lg">
            <div class="card-body">
              <h2 class="card-title">{{ study_session.title }}</h2>
              <p class="text-xl">Study Time: {{ study_session.study_time }}</p>
              <p class="text-xl">Break Time: {{ study_session.break_time }}</p>
              <div class="card-actions justify-end">
                <form method="POST">
                  {% csrf_token %}
                  <input class="btn btn-primary" type="submit" value="Start Studying" />
                </form>
                <form method="POST" action="{% url 'delete_study_session' uuid=study_session.uuid %}">
                  {% csrf_token %}
                  <input class="btn btn-primary" type="submit" value="Delete" />
                </form>
              </div>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <h2 class="text-2xl font-thin italic">Try to create a new synedrion 📚</h2>
      {% endif %}
    </div>
  </div>
{% endblock %}
