{% extends 'base.html' %}

{% block content %}
  <div class="flex justify-center gap-10 mb-10">
      <div id="new-task" class="fieldset bg-base-200 border-base-300 rounded-box w-md border p-4 mt-10">
        <h1 class="text-4xl font-bold text-center mb-4 font-[EB_Garamond]">Create <i>Kaleo</i></h1>
        <form id="new-task-form" hx-on::before-request="document.getElementById('current-tasks').style.opacity = 0.3;" hx-on::after-request="if(event.detail.successful) this.reset(); document.getElementById('current-tasks').style.opacity = 1;" hx-indicator="#loading" hx-post="{% url 'create_task' %}" hx-target="#current-tasks" hx-headers='{"x-csrftoken": "{{ csrf_token }}"}' class="flex flex-col items-center gap-1">
          {% csrf_token %}
          {{ form.title }}
          {{ form.description }}
          <input class="btn btn-neutral mt-4 block" type="submit" value="Create" />
        </form>
      </div>
      <div id="new-study-task" class="fieldset bg-base-200 border-base-300 rounded-box w-md border p-4 mt-10">
        <h1 class="text-4xl font-bold text-center mb-4 font-[EB_Garamond]">Create <i>Synedrion</i></h1>
        <form hx-post="{% url 'create_study_session' %}" hx-on::before-request="document.getElementById('current-study-sessions').style.opacity = 0.3;" hx-on::after-request="if(event.detail.successful) this.reset(); document.getElementById('current-study-sessions').style.opacity = 1;" hx-indicator="#loading" hx-target="#current-study-sessions" hx-headers='{"x-csrftoken": "{{ csrf_token }}"}' class="flex flex-col items-center gap-4">
          {% csrf_token %}
          {{ study_form.title }}
          {{ study_form.study_time_minutes }}
          {{ study_form.break_time_minutes }}
          <input class="btn btn-neutral mt-4 block" type="submit" value="Create" />
        </form>
      </div>    
  </div>
  <div class="flex justify-center gap-10 bg-primary">
    <div id="tasks" class="w-2/5 flex flex-col items-center mb-10">
      <h1 class="text-center text-4xl mt-4 font-[EB_Garamond]">Active Kaleos</h1>
      <span class="loading loading-infinity loading-lg htmx-indicator m-0" id="loading"></span>
      {% include 'fragments/current_tasks.html' %}
    </div>
    <div id="study-sessions" class="w-2/5 flex flex-col items-center mb-10">
        <h1 class="text-center text-4xl mt-4 font-[EB_Garamond]">Your Synedria</h1>
        <span class="loading loading-infinity loading-lg htmx-indicator m-0" id="loading"></span>
        {% include 'fragments/current_study_sessions.html' %}
    </div>
  </div>
{% endblock %}